<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">

  <!--My style -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
  {% block head %}{% endblock %}

</head>

<body>

<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'exam:index' %}">Exam</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% block active_inquiry %}{% endblock %}">
            <a class="nav-link" href="{% url 'exam:inquiry' %}">お問い合わせ</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item {% block active_exam_list %}{% endblock %}">
            <a class="nav-link" href="{% url 'exam:mypage' %}">MyPage</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
            </li>
          {% else %}
            <li class="nav-item {% block active_signup %}{% endblock %}">
              <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
            </li>
            <li class="nav-item {% block active_login %}{% endblock %}">
              <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block header %}{% endblock %}

  {% if messages %}
  <div class="container">
    <div class="row">
      <div class="my-div-style w-100">
        <ul class="messages" style="list-style: none;">
          {% for message in messages %}
          <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
            {{message}}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  {% block contents %}{% endblock %}

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
  <script src="{% static 'javascript/custom.js' %}"></script>

  {% block javascript %}{% endblock %}
</div>
</body>

</html>
