{% extends 'base.html' %}
{% load static %}

{% block title %}詳細{% endblock %}

{% block active_exam_list %}active{% endblock %}

<!-- Main Content -->

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
     <div class="row">
      <div class="col-9">
        <div class="row py-2 video-wrap">
          {% if object %}
            <div data-href="{% url 'exam:startcount' object.pk %}" id="startcount" class="img-fluid w-100">
                {% csrf_token %}
                {{object.content | safe}}
                <img src="{{object.photo1.url}}" />
                <iframe src="{% static 'pdf/2020_math1a.pdf' %}"></iframe>
            </div>
          {% endif %}
        </div>


      </div>


      <div class="col-3">

      </div>

     </div>

      <a class="btn btn-success mt-5 mb-3" href="{% url 'exam:exam_update' object.pk %}">編集</a>
      <a class="btn btn-success mt-5 ml-2 mb-3" href="{% url 'exam:exam_delete' object.pk %}">削除</a>

    </div>
</div>
{% endblock %}







