{% extends 'base.html' %}
{% load static %}

{% block title %}削除{% endblock %}

{% block active_exam_list %}active{% endblock %}

  <!-- Main Content -->
{% block contents %}
  <div class="container">
    <div class="row">
      <div class="my-div-style w-100">
         <form method="POST">
            {% csrf_token %}
             <p>本当に削除しますか？</p>
             <button class="btn btn-primary mt-5" type="submit">削除</button>
             <a class="btn btn-secondary mt-5 ml-2" href="{% url 'exam:exam_detail' object.pk %}">キャンセル</a>
         </form>

      </div>
    </div>
  </div>
{% endblock %}







