{% extends 'base.html' %}
{% load static %}

{% block title %}作成{% endblock %}

{% block active_exam_list %}active{% endblock %}

  <!-- Main Content -->
{% block contents %}
  <div class="container">
    <div class="row">
      <div class="my-div-style w-100">
         <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
             <table class="table">
                 {{ form.as_table }}
             </table>
             <button class="btn btn-primary" type="submit">作成</button>
         </form>

      </div>
    </div>
  </div>
{% endblock %}







