{% extends 'base.html' %}
{% load static %}

{% block title %}詳細{% endblock %}

{% block active_exam_list %}active{% endblock %}

<!-- Main Content -->

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
     <div class="row">
      <div class="col-9">
        <div class="row py-2 video-wrap">
          {% if object %}
            <div data-href="{% url 'exam:startcount' object.pk %}" id="startcount" class="embed-responsive embed-responsive-1by1">
                {% csrf_token %}
                <iframe src="{{object.file.url}}"></iframe>

            </div>
          {% endif %}
        </div>

        <div class="row py-2">
            <img src="{{object.photo1.url}}" />
        </div>


      </div>


      <div class="col-3">

      </div>

     </div>



    </div>
</div>
{% endblock %}







