{% extends 'base.html' %}

{% load static %}

{% block title %}受験対策総合サイト{% endblock %}


<!--メインビジュアル-->
{% block header %}
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Exam</h1>
                <h2 class="masthead-subheading mb-0">受験対策総合サイト</h2>
                <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
    </header>
{% endblock %}
<!--/メインビジュアル-->


{% block contents %}

<!--コンテンツ１-->
<section class="bg-light py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="p-5 text-center">
            <h2 class="display-4">単元別に学ぶ</h2>
            <p>各教科の解説や動画で基本を網羅的に身に着けることができます。</p>
          </div>
        </div>
      </div>
      <div class="row">
          {% for category in category_list %}
          <div class="col-md-4">
              <a href="{% url 'exam:subject' category.name%}">
                <div class="card mb-3">
                    <img src="{% static 'img/数学.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body d-flex justify-content-between">
                        <h4 class="card-title">{{category.name}}</h4>
                        <button type="button" class="btn btn-secondary">詳しく見る</button>
                    </div>
                </div>
              </a>
          </div>
          {% endfor %}
      </div>
    </div>
</section>
<!--/コンテンツ１-->

<!--コンテンツ2-->
  <section class="bg-light py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="p-5 text-center">
            <h2 class="display-4">共通試験まとめ</h2>
            <p>過去問を研究し、何度も解くことで高得点をボーダーラインを突破できます。</p>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-12">
              <h2><a href="#" class="bg-primary text-white d-block py-4 text-center">2020共通試験速報</a></h2>
          <div/>
      </div>

      <div class="row">
          <div class="col-md-4">
              <a href="#">
                <div class="card mb-3">
                    <img src="{% static 'img/数学.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body">
                        <h5 class="">共通試験過去問ライブラリー</h5>
                    </div>
                </div>
              </a>
          </div>

          <div class="col-md-4">
              <a href="#">
                <div class="card mb-3">
                    <img src="{% static 'img/化学.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body d-flex justify-content-between">
                        <h4 class="card-title">傾向と対策</h4>
                    </div>
                </div>
              </a>
          </div>

          <div class="col-md-4">
              <a href="#">
                <div class="card mb-3">
                    <img src="{% static 'img/生物.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body d-flex justify-content-between">
                        <h4 class="card-title">実践訓練</h4>
                    </div>
                </div>
              </a>
          </div>

      </div>
    </div>
  </section>
<!--/コンテンツ2-->

<!--コンテンツ3-->
  <section class="bg-light py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="p-5 text-center">
            <h2 class="display-4">２次試験対策</h2>
            <p>全○○の大学の過去問の問題、解答、解説の記事、動画で合格ラインを突破します。</p>
          </div>
        </div>
      </div>

           <div class="row">
          <div class="col-md-4">
              <a href="#">
                <div class="card mb-3">
                    <img src="{% static 'img/数学.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body">
                        <h5 class="">各大学別過去問ライブラリー</h5>
                    </div>
                </div>
              </a>
          </div>

          <div class="col-md-4">
              <a href="#">
                <div class="card mb-3">
                    <img src="{% static 'img/化学.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body d-flex justify-content-between">
                        <h4 class="card-title">２次力を高める良問</h4>
                    </div>
                </div>
              </a>
          </div>

          <div class="col-md-4">
              <a href="#">
                <div class="card mb-3">
                    <img src="{% static 'img/生物.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body d-flex justify-content-between">
                        <h4 class="card-title">実践訓練</h4>
                    </div>
                </div>
              </a>
          </div>

      </div>

    </div>
  </section>
<!--/コンテンツ3-->

<!--コンテンツ4-->
  <section class="bg-light py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="p-5 text-center">
            <h2 class="display-4">大学受験ロードマップ</h2>
            <p>大学を知る。</p>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-4">
              <a href="#">
                <div class="card mb-3">
                    <img src="{% static 'img/数学.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body">
                        <h5 class="">大学別対策ロードマップ</h5>
                    </div>
                </div>
              </a>
          </div>

          <div class="col-md-4">
              <a href="#">
                <div class="card mb-3">
                    <img src="{% static 'img/化学.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body d-flex justify-content-between">
                        <h4 class="card-title">大学の選び方</h4>
                    </div>
                </div>
              </a>
          </div>

          <div class="col-md-4">
              <a href="#">
                <div class="card mb-3">
                    <img src="{% static 'img/生物.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body d-flex justify-content-between">
                        <h4 class="card-title">各大学徹底分析</h4>
                    </div>
                </div>
              </a>
          </div>

      </div>

    </div>
  </section>
<!--/コンテンツ4-->

{% endblock %}