{% extends 'base.html' %}
{% load static %}

{% block title %}詳細{% endblock %}

{% block active_exam_list %}active{% endblock %}

<!-- Main Content -->

{% block contents %}
<div class="container">
<ul class="list-group list-group-flush">
 <table border="2">
   <tr>
     <th>タイトル</th>
     <th>URL</th>
   </tr>
   {% for post,post2 in list %}
   <tr>
     <td>{{ post }}</td>
     <td>{{post2}}</td>
   </tr>
   {% endfor %}
 </table>
</ul>
</div>
{% endblock %}