{% extends 'base.html' %}

{% load static %}

{% block title %}MyPage{% endblock %}

<!--メインビジュアル-->
{% block header %}
<!--パンくずリスト-->
<div class="pt-5 mt-3">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb container">
        <li class="breadcrumb-item">
            <a href="{% url 'exam:index' %}">Home</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
            math1
        </li>
    </ol>
</nav>
</div>
<!--/パンくずリスト-->
{% endblock %}
<!--/メインビジュアル-->


{% block contents %}
<!--コンテンツ1-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <div class="card-body d-flex justify-content-start">
                <img src="{{mychannel.photo1.url}}" class="rounded-circle" width="120" height="120"/>
                <div class="ml-3">
                    <h2>{{mychannel.name}}</h2>
                    <p>チャンネル登録者数</p>
                    <button type="button" class="btn btn-secondary">チャンネル登録</button>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
<!--/コンテンツ1-->

<!--コンテンツ2-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <h4>投稿動画</h4>
        </div>
      </div>

      <div class="row">
          {% for video in object_list %}
          <div class="col-md-4">
            <div class="card mb-3">
                  <img src="{{video.photo1.url}}" class="img-fluid"/>
                  <div class="card-body d-flex justify-content-start">
                      <div class="ml-3">
                        <h4 class="card-title">{{video.title}}</h4>
                        <p>{{video.created_at}}</p>
                        <a href="{% url 'exam:video' video.pk %}">クアラルンプール</a>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>

    </div>
</section>
<!--/コンテンツ2-->

<!--コンテンツ3-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-4">
            <div id="canvas"></div>
            <a href="javascript:setup()" class="btn">消す</a>
      </div>
    </div>
</section>
<!--/コンテンツ3-->

<!--コンテンツ4-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-4">
           {% for video in object_list %}
            {{video.content}}
           {% endfor %}
      </div>
    </div>
</section>
<!--/コンテンツ4-->

{% endblock %}

{% block javascript %}
    <script src="{% static 'javascript/canvas.js' %}"></script>
{% endblock %}