{% extends 'base.html' %}

{% load static %}

{% block title %}MyPage{% endblock %}

{% block head %}
    <link href="{% static 'vendor/Fullcalender/main.css' %}" rel='stylesheet' />
    <link href="{% static 'css/calender.css' %}" rel='stylesheet' />
    <link href="{% static 'css/justgage.css' %}" rel='stylesheet' />
{% endblock %}

<!--メインビジュアル-->
{% block header %}
<!--パンくずリスト-->
<div class="pt-5 mt-3">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb container">
        <li class="breadcrumb-item">
            <a href="{% url 'exam:index' %}">Home</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
            math1
        </li>
    </ol>
</nav>
</div>
<!--/パンくずリスト-->
{% endblock %}
<!--/メインビジュアル-->


{% block contents %}
<!--コンテンツ1-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <div class="card-body d-flex justify-content-start">
                <div class="ml-3">
                    <h2>{{course.name}}</h2>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
<!--/コンテンツ1-->




<!--コンテンツ3-->
<section class="bg-light py-4">
    <div class="container bg-white">
      {% for c in mysubcourse %}
       <div class="row py-4">
          <div class="col-12 border-bottom">
              <h3>{{c.name}}</h3>
          </div>
       </div>

      <div class="row py-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>タイトル</th>
                        <th>難易度</th>
                        <th>重要度</th>
                        <td>目標時間(分)</td>
                    </tr>
                </thead>
                {% for q1 in subquestion %}
                {% if q1.subcourse.name == c.name%}
                <tbody>
                    <tr>
                        <td>☆</td>
                        <td><a href="{% url 'exam:question' q1.pk %}"><h6 class="text-success">{{q1.title}}</h6></a></td>
                        <td>{{q1.difficult}}</td>
                        <td>{{q1.important}}</td>
                        <td>{{q1.time}}</td>
                    </tr>
                </tbody>
                {% endif %}
                {% endfor %}
            </table>
      </div>

      {% endfor %}

    </div>
</section>
<!--/コンテンツ3-->

{% endblock %}

{% block javascript %}
    <script src="{% static 'vendor/Fullcalender/main.js' %}"></script>
    <script src="{% static 'javascript/calender.js' %}"></script>
    <script src="{% static 'vendor/justgage/justgage.js' %}"></script>
    <script src="{% static 'vendor/justgage/raphael-2.1.4.min.js' %}"></script>
    <script src="{% static 'javascript/justgage.js' %}"></script>

{% endblock %}