{% extends 'base.html' %}

{% load static %}

{% block title %}MyPage{% endblock %}

<!--メインビジュアル-->
{% block header %}
<!--パンくずリスト-->
<div class="pt-5 mt-3">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb container">
        <li class="breadcrumb-item">
            <a href="{% url 'exam:index' %}">Home</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
            math1
        </li>
    </ol>
</nav>
</div>
<!--/パンくずリスト-->
{% endblock %}
<!--/メインビジュアル-->


{% block contents %}
<!--コンテンツ1-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <div class="card-body d-flex justify-content-start">
                <img src="{{user.picture.url}}" class="rounded-circle" width="90" height="90"/>
                <div class="ml-3">
                    <h2>ようこそ{{user}}さん！</h2>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
<!--/コンテンツ1-->

<!--コンテンツ2-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <h4>登録チャンネル</h4>
        </div>
      </div>

      <div class="row">
          {% for register in registerchannel_list %}
          <div class="col-md-6">
              <div class="card mb-3">
                  <div class="card-body d-flex justify-content-start">
                      <img src="{{register.channel.photo1.url}}" class="rounded-circle" width="100" height="100"/>
                      <div class="ml-3">
                        <p>{{register.channel.name}}</p>
                        <p>登録者数４人</p>
                        <button type="button" class="btn btn-secondary">チャンネル登録</button>
                        <a href="{% url 'exam:mychannel' register.channel.pk %}">クアラルンプール</a>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>

    </div>
</section>
<!--/コンテンツ2-->

<!--コンテンツ3-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <h4>お気に入り一覧</h4>
        </div>
      </div>

      <div class="row">
          {% for favorite in favorite_list %}
          <div class="col-md-4">
              <div class="card mb-3">
                  <img src="{{favorite.video.photo1.url}}" class="img-fluid"/>
                  <div class="card-body d-flex justify-content-start">
                      <img src="{{favorite.video.channel.photo1.url}}" class="rounded-circle" width="50" height="50"/>
                      <div class="ml-3">
                        <h4 class="card-title">{{favorite.video.title}}</h4>
                        <p>{{favorite.video.channel.name}}・{{favorite.video.created_at}}</p>
                        <a href="{% url 'exam:video' favorite.video.pk %}">クアラルンプール</a>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>

      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <h4>おすすめ</h4>
        </div>
      </div>

      <div class="row">
          <div class="col-md-4">
              <div class="card mb-3">
                  <video src="{% static 'documents/動画1.mp4' %}" poster="/media/N国立花.jpg" class="img-fluid" controls></video>
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">動画1</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-3">
                  <video src="{% static 'documents/動画1.mp4' %}" poster="/media/N国立花.jpg" class="img-fluid" controls></video>
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">動画2</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-3">
                  <video src="{% static 'documents/動画1.mp4' %}" poster="/media/N国立花.jpg" class="img-fluid" controls></video>
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">動画3</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>
      </div>

    </div>
</section>
<!--/コンテンツ3-->


{% endblock %}