{% extends 'base.html' %}

{% load static %}

{% block title %}MyPage{% endblock %}

{% block head %}
    <link href="{% static 'vendor/Fullcalender/main.css' %}" rel='stylesheet' />
    <link href="{% static 'css/calender.css' %}" rel='stylesheet' />
    <link href="{% static 'css/justgage.css' %}" rel='stylesheet' />
{% endblock %}

<!--メインビジュアル-->
{% block header %}
<!--パンくずリスト-->
<div class="pt-5 mt-3">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb container">
        <li class="breadcrumb-item">
            <a href="{% url 'exam:index' %}">Home</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
            math1
        </li>
    </ol>
</nav>
</div>
<!--/パンくずリスト-->
{% endblock %}
<!--/メインビジュアル-->


{% block contents %}
<!--コンテンツ1-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <div class="card-body d-flex justify-content-start">
                <img src="{{user.picture.url}}" class="rounded-circle" width="90" height="90"/>
                <div class="ml-3">
                    <h2>ようこそ{{user}}さん！</h2>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
<!--/コンテンツ1-->

<!--コンテンツ2-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-4">
        <div class="col-12">
            <div class="border-bottom">
                <h3>今日の問題</h3>
            </div>
            <div class="row">
              {% for question in object_list %}
              <div class="col-md-6">
                  <a href="{% url 'exam:question' question.pk %}"><h6 class="text-success">{{question.title}}</h6></a>
              </div>
              {% endfor %}
            </div>
        </div>

      </div>

    </div>
</section>
<!--/コンテンツ2-->


<!--コンテンツ3-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row py-4">
          <div class="col-12 border-bottom">
              <h3>学習状況</h3>
          </div>
      </div>

      <div class="row py-4">
          <div class="col-6">
              <div class="row">
                <div class="col-12">
                    <h4>学習中のコース</h4>
                    <div class="row">
                        <div class="card mb-2 col-6">
                            <div id="g1" class="gauge w-100 h-auto"></div>
                            <!--<a href="#" id="g1_refresh">Random Refresh</a>-->
                            <a href="{% url 'exam:course' mycourse.course.pk %}"><h4 class="bg-primary text-center text-white">{{mycourse.course.name}}</h4></a>
                        </div>
                    </div>
                </div>
              </div>
          </div>

          <div class="col-6">
            <div id='calendar'></div>
          </div>
      </div>

      <div class="row py-4">
         {% for subcourse in mysubcourse %}
            <div class="col-md-3">
               <a href="#">
                   <div class="card mb-3">
                       <img src="{% static 'img/数学.jpg' %}" alt="" class="img-fluid">
                       <div class="card-body d-flex justify-content-between">
                           <h4 class="card-title">{{subcourse.name}}</h4>
                           <button type="button" class="btn btn-secondary">詳細</button>
                       </div>
                   </div>
               </a>
            </div>
         {% endfor %}
      </div>

    </div>
</section>
<!--/コンテンツ3-->

{% endblock %}

{% block javascript %}
    <script src="{% static 'vendor/Fullcalender/main.js' %}"></script>
    <script src="{% static 'javascript/calender.js' %}"></script>
    <script src="{% static 'vendor/justgage/justgage.js' %}"></script>
    <script src="{% static 'vendor/justgage/raphael-2.1.4.min.js' %}"></script>
    <script src="{% static 'javascript/justgage.js' %}"></script>

{% endblock %}