{% extends 'base.html' %}
{% load static %}

{% block title %}詳細{% endblock %}

{% block active_exam_list %}active{% endblock %}

<!-- Main Content -->

{% block contents %}
<section class="bg-light">
    <div class="container bg-white">
        <div class="my-div-style w-100">
         <div class="row">
          <div class="col-8">
            <h3>{{object.title}}</h3>
            <div class="row py-2 video-wrap">
              {% if object %}
                <div data-href="{% url 'exam:startcount' object.pk %}" id="startcount" class="embed-responsive embed-responsive-1by1">
                    {% csrf_token %}
                    <iframe src="{{object.question.url}}"></iframe>

                </div>
              {% endif %}
            </div>

            <div class="row py-2">

            </div>


          </div>

          <div class="col-4">
              <div class="row justify-content-around">
                  <div class="col-5 py-2">
                      <h4><button type="button" class="btn btn-primary">難易度</button> {{object.difficult}}</h4>
                  </div>

                  <div class="col-5 py-2">
                      <h4><button type="button" class="btn btn-primary">重要度</button> {{object.important}}</h4>
                  </div>
              </div>

              <div class="row justify-content-around">
                  <div class="col-11 py-2">
                      <h4><button type="button" class="btn btn-primary">目標解答時間</button> {{object.time}}分</h4>
                  </div>
              </div>

              <div class="row justify-content-around">
                  <div class="col-11 py-2">
                      <h4>類題</h4>
                      {% for question in question_list %}
                      <div class="row">
                          <a href="{% url 'exam:question' question.pk %}">{{question.title}}</a>
                      </div>
                      {% endfor %}
                  </div>
              </div>

          </div>

         </div>



        </div>
    </div>
</section>
{% endblock %}