{% for select in select %}
    <div class="col-md-4">
        <div class="card mb-3">
            <img src="{{select.photo1.url}}" class="img-fluid"/>
            <div class="card-body d-flex justify-content-start">
                <img src="{{select.user.picture.url}}" class="rounded-circle" width="50" height="50"/>
                <div class="ml-3">
                    <h4 class="card-title">{{select.title}}</h4>
                    <p>{{select.user}}・{{select.created_at}}</p>
                    <a href="{% url 'exam:video' select.pk %}">クアラルンプール</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}