{% extends 'base.html' %}

{% load static %}

{% block title %}受験対策総合サイト{% endblock %}


<!--メインビジュアル-->
{% block header %}
<!--パンくずリスト-->
<div class="pt-5 mt-3">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb container">
        <li class="breadcrumb-item">
            <a href="{% url 'exam:index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Math
        </li>
    </ol>
</nav>
</div>
<!--/パンくずリスト-->
{% endblock %}
<!--/メインビジュアル-->


{% block contents %}

<!--コンテンツ１-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-2">
        <div class="col-12 text-center">
            <h2 class="display-4">高校{{category_select.name}}総覧</h2>
        </div>
      </div>

      <div class="row">
          <div class="col-md-4">
              <a href="{% url 'exam:subject2' category_select.name%}">
                <div class="card mb-3">
                    <img src="{% static 'img/数学.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body d-flex justify-content-between">
                        <h4 class="card-title">数学Ⅰ</h4>
                        <button type="button" class="btn btn-secondary">詳しく見る</button>
                    </div>
                </div>
              </a>
          </div>

          <div class="col-md-4">
              <div class="card mb-3">
                  <img src="{% static 'img/化学.jpg' %}" alt="" class="img-fluid">
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">数学Ⅱ</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-3">
                  <img src="{% static 'img/生物.jpg' %}" alt="" class="img-fluid">
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">数学Ⅲ</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="row justify-content-around">
          <div class="col-md-4">
              <div class="card mb-3">
                  <img src="{% static 'img/数学.jpg' %}" alt="" class="img-fluid">
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">数学A</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-3">
                  <img src="{% static 'img/化学.jpg' %}" alt="" class="img-fluid">
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">数学B</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>
      </div>

    </div>
</section>
<!--/コンテンツ１-->

<!--コンテンツ2-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-2">
        <div class="col-12 text-center">
            <h2 class="display-4">解説動画一覧</h2>
        </div>
      </div>

      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <h4>人気動画</h4>
        </div>
      </div>

      <div class="row">
          <div class="col-md-4">
              <div class="card mb-3">
                  <video src="{% static 'documents/動画1.mp4' %}" poster="/media/N国立花.jpg" class="img-fluid" controls></video>
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">動画1</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-3">
                  <video src="{% static 'documents/動画1.mp4' %}" poster="/media/N国立花.jpg" class="img-fluid" controls></video>
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">動画2</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-3">
                  <video src="{% static 'documents/動画1.mp4' %}" poster="/media/N国立花.jpg" class="img-fluid" controls></video>
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">動画3</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <h4>新着動画</h4>
        </div>
      </div>

      <div class="row">
          {% for subject in object_list %}
          <div class="col-md-4">
              <div class="card mb-3">
                  <video src="{{subject.document.url}}" poster="{{subject.photo1.url}}" class="img-fluid" controls></video>
                  <div class="card-body d-flex justify-content-start">
                      <img src="{{subject.user.picture.url}}" class="rounded-circle" width="50" height="50"/>
                      <div class="ml-3">
                        <h4 class="card-title">{{subject.title}}</h4>
                        <p>{{subject.user}}・{{subject.updated_at}}</p>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>

    </div>
</section>
<!--/コンテンツ2-->



{% endblock %}