{% extends 'base.html' %}

{% load static %}

{% block title %}受験対策総合サイト{% endblock %}


<!--メインビジュアル-->
{% block header %}
<!--パンくずリスト-->
<div class="pt-5 mt-3">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb container">
        <li class="breadcrumb-item">
            <a href="{% url 'exam:index' %}">Home</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
            math1
        </li>
    </ol>
</nav>
</div>
<!--/パンくずリスト-->
{% endblock %}
<!--/メインビジュアル-->


{% block contents %}


<!--コンテンツ2-->
<section class="bg-light py-4">
    <div class="container bg-white">
      <div class="row align-items-center py-2">
        <div class="col-12 text-center">
            <h2 class="display-4">{{category_select.name}}Ⅰ</h2>
        </div>
      </div>

      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <div class="dropdown">
                <!--切り替えボタン-->
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-href="{% url 'exam:select' category_select.name '化学'  %}">
                    項目を選択してください
                </button>
                <!--ドロップダウンメニュー-->
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><button class="dropdown-item" value="単元別">単元別</button></li>
                    <li><button class="dropdown-item" value="学年別">学年別</button></li>
                    <li><button class="dropdown-item" value="大学別">大学別</button></li>
                </ul>
            </div>
        </div>
      </div>

      <div class="row" id="content">
          {% include 'select.html' %}
      </div>

      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <h4>人気</h4>
        </div>
      </div>

      <div class="row">
          {% for popular in popular_list %}
          <div class="col-md-4">
              <div class="card mb-3">
                  <img src="{{popular.photo1.url}}" class="img-fluid"/>
                  <div class="card-body d-flex justify-content-start">
                      <img src="{{popular.user.picture.url}}" class="rounded-circle" width="50" height="50"/>
                      <div class="ml-3">
                        <h4 class="card-title">{{popular.title}}</h4>
                        <p>{{popular.user}}・{{popular.created_at}}</p>
                        <a href="{% url 'exam:video' popular.pk %}">クアラルンプール</a>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>

      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <h4>おすすめ</h4>
        </div>
      </div>

      <div class="row">
          <div class="col-md-4">
              <div class="card mb-3">
                  <video src="{% static 'documents/動画1.mp4' %}" poster="/media/N国立花.jpg" class="img-fluid" controls></video>
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">動画1</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-3">
                  <video src="{% static 'documents/動画1.mp4' %}" poster="/media/N国立花.jpg" class="img-fluid" controls></video>
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">動画2</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-3">
                  <video src="{% static 'documents/動画1.mp4' %}" poster="/media/N国立花.jpg" class="img-fluid" controls></video>
                  <div class="card-body d-flex justify-content-between">
                      <h4 class="card-title">動画3</h4>
                      <button type="button" class="btn btn-secondary">詳しく見る</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="row align-items-center py-4">
        <div class="col-12 border-bottom">
            <h4>新着</h4>
        </div>
      </div>

      <div class="row">
          {% for new in new_list %}
          <div class="col-md-4">
              <div class="card mb-3">
                  <img src="{{new.photo1.url}}" class="img-fluid"/>
                  <div class="card-body d-flex justify-content-start">
                      <img src="{{new.user.picture.url}}" class="rounded-circle" width="50" height="50"/>
                      <div class="ml-3">
                        <h4 class="card-title">{{new.title}}</h4>
                        <p>{{new.user}}・{{new.created_at}}</p>
                        <a href="{% url 'exam:video' new.pk %}">クアラルンプール</a>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>

    </div>
</section>
<!--/コンテンツ2-->



{% endblock %}