{% extends 'base.html' %}
{% load static %}

{% block title %}詳細{% endblock %}

{% block active_exam_list %}active{% endblock %}

  <!-- Main Content -->
{% block contents %}
<div class="container-fluid">
    <div class="my-div-style w-100">
     <div class="row">
      <div class="col-9">
        <div class="row py-2 video-wrap">
          {% if object.document %}
            <div data-href="{% url 'exam:startcount' object.pk %}" id="startcount" class="img-fluid w-100">
                {% csrf_token %}
                <video poster="{{object.photo1.url}}" controls class="img-fluid w-100">
                    <source src="{{object.document.url}}" type="video/mp4" />
                    <img src="{{object.photo1.url}}" />
                </video>
            </div>
          {% endif %}
        </div>

        <div class="row py-4 ">
            <h1>{{object.title}}</h1>
        </div>

        <div class="row py-1 ">
            <div class="col-10">
                総再生回数{{object.start_count}}回・{{object.created_at}}・{{object.views}}閲覧
            </div>
            <div class="col-1">
                <p><a href="{% url 'exam:like' object.pk %}"><i class="fas fa-lg fa-heart"></i>{{object.good}}いいね</a></p>
            </div>
            <div class="col-1">
                <p><a href="{% url 'exam:like' object.pk %}"><i class="fas fa-lg fa-heart"></i>{{object.good}}駄目ね</a></p>
            </div>
        </div>


        <div class="row py-4 ">
            <div class="col-1">
                <img src="{{object.channel.photo1.url}}" class="rounded-circle" width="50" height="50"/>
            </div>
            <div class="col-6">
                <a href="{% url 'exam:mychannel' object.channel.pk %}">
                    <h3 class="text-left">{{object.channel.name}}</h3>
                    <!--<h5>{{object.content}}</h5>-->
                </a>
            </div>

            <div class="col-5 text-right">
                <button type="button" class="btn btn-secondary">チャンネル登録</button>
            </div>
        </div>

        <div class="row py-4 ">
          <div class="col-12">
            <h3>コメント一覧</h3>
            {% for comment in comment_list %}
            <div class="card">
                <div class="card-body d-flex justify-content-start">
                    <img src="{{comment.user.picture.url}}" class="rounded-circle" width="50" height="50"/>
                    <div class="ml-5">
                        <h4 class="card-title">{{ comment.user.username }}・{{ comment.updated_at }}</h4>
                        <h3 class="card-title">{{ comment.comment }}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>


      <div class="col-3">
        {% for relation in tag_list %}
        <div class="card mb-3 w-75 mx-auto">
            <video src="{{ relation.document.url }}" poster="{{relation.user.picture.url}}" class="img-fluid" controls></video>
            <div class="card-body d-flex justify-content-between">
                <h4 class="card-title">{{ relation.title}}</h4>
                <button type="button" class="btn btn-secondary">詳しく見る</button>
            </div>
        </div>
        {% endfor %}
      </div>

     </div>



      <a class="btn btn-success mt-5 mb-3" href="{% url 'exam:exam_update' object.pk %}">編集</a>
      <a class="btn btn-success mt-5 ml-2 mb-3" href="{% url 'exam:exam_delete' object.pk %}">削除</a>

    </div>
</div>
{% endblock %}







